pip==23.3.1
absl-py==2.0.0
altair==5.2.0
anyio 
argon2-cffi
argon2-cffi-bindings 
asttokens 
astunparse==1.6.3
async-lru 
attrs 
Babel 
backcall 
beautifulsoup4 
bleach 
blinker==1.7.0
branca==0.7.0
Brotli 
cachetools==5.3.2
certifi 
cffi 
charset-normalizer 
chart-studio==1.1.0
click==8.1.7
colorama 
comm 
contourpy==1.2.0
cryptography 
customtkinter==5.2.1
cycler==0.12.1
darkdetect==0.8.0
debugpy 
decorator 
defusedxml 
executing 
fastjsonschema 
filelock==3.13.1
flatbuffers==23.5.26
folium==0.15.0
fonttools==4.45.1
fsspec==2023.10.0
gast==0.4.0
geographiclib==2.0
geopy==2.4.1
gitdb==4.0.11
GitPython==3.1.40
google-auth==2.23.4
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.59.3
h5py==3.10.0
idna 
imbalanced-learn==0.11.0
imblearn==0.0
importlib-metadata==6.11.0
install==1.3.5
ipykernel 
ipython 
jax==0.4.20
jedi 
Jinja2 
joblib==1.3.2
json5 
jsonschema 
jsonschema-specifications 
jupyter-events 
jupyter-lsp 
jupyter_client 
jupyter_core 
jupyter_server 
jupyter_server_terminals 
jupyterlab 
jupyterlab-pygments 
jupyterlab_server 
keras==2.12.0
kiwisolver==1.4.5
libclang==16.0.6
lxml==4.9.3
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe 
matplotlib==3.8.2
matplotlib-inline 
mdurl==0.1.2
mistune 
ml-dtypes==0.2.0
mpmath==1.3.0
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx==3.2.1
notebook 
notebook_shim 
numpy==1.23.5
oauthlib==3.2.2
opencv-python==4.8.1.78
opt-einsum==3.3.0
overrides 
packaging 
pandas==2.1.3
pandas-datareader==0.10.0
pandocfilters 
parso 
pickleshare 
Pillow==10.1.0
platformdirs 
plotly==5.18.0
prometheus-client 
prompt-toolkit 
protobuf==4.23.4
psutil==5.9.6
pure-eval 
py-cpuinfo==9.0.0
pyarrow==14.0.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser 
pydeck==0.8.1b0
pygame==2.5.2
Pygments 
pyOpenSSL 
pyparsing==3.1.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PySocks 
python-dateutil 
python-json-logger 
python-vlc==3.0.20123
PythonTurtle==0.3.2
pytz 
pywin32==305.1
pywinpty 
PyYAML 
pyzmq 
referencing 
requests 
requests-oauthlib==1.3.1
retrying==1.3.4
rfc3339-validator 
rfc3986-validator 
rich==13.7.0
rpds-py 
rsa==4.9
scikit-learn==1.3.2
scipy==1.11.4
seaborn==0.13.0
Send2Trash 
six 
sklearn==0.0.post11
smmap==5.0.1
sniffio 
soupsieve 
stack-data 
streamlit==1.29.0
sympy==1.12
tenacity==8.2.3
tensorboard==2.12.3
tensorboard-data-server==0.7.2
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
terminado 
thop==0.1.1.post2209072238
threadpoolctl==3.2.0
tinycss2 
tk==0.1.0
toml==0.10.2
toolz==0.12.0
torch==2.1.1
torchvision==0.16.1
tornado 
tqdm==4.66.1
traitlets 
typing_extensions 
tzdata==2023.3
tzlocal==5.2
ultralytics==8.0.222
urllib3 
validators==0.22.0
watchdog==3.0.0
wcwidth 
webencodings==0.5.1
websocket-client 
Werkzeug==3.0.1
win-inet-pton 
wordcloud==1.9.2
wrapt==1.14.1
zipp==3.17.0
